includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:

    paths:
        - src/

    # Level 10 is the highest level
    level: 5
    

    ignoreErrors:
#        - '#PHPDoc tag @var#'
        # Ignore errors for properties |method in ChatableTrait related to display_name, cover_url, and profile_url
        - '#Access to an undefined property .*display_name#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\HasMany::withoutParticipantable#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model::hasDeletedConversation#'
        - '#Access to an undefined property .*cover_url#'
        #- '#Access to an undefined property .*profile_url#'
        - '#Call to an undefined method .*belongsToConversation#'
        - '#Trait Namu\\WireChat\\Traits\\Chatable is used zero times and is not analysed#'
        - '#Trait Namu\\WireChat\\Traits\\Actor is used zero times and is not analysed#'
#
#   excludePaths:
#        - ./*/*/FileToBeExcluded.php

    universalObjectCratesClasses:
        - Illuminate\Http\Resources\Json\JsonResource